# Lab 2

Right now, you are a data analyst at Youtube. You're working with a team to answer some simple analytics questions that Youtube has. Due to some bad code written previously by an intern, it is now your job to clean up the mistakes. At the same time, some old data has made its way into the production environment, and it is within your job scope to sift those out as well.

The following shows a snippet of code that an intern has written previously, and the definitions for each of the key-value pairs are described as per below.

| title        | company           | views  | 
| :----------- |:----------------- | :----- | 
| Title of the video ad      | Company name | Number of video views |

**Remember to run the code snippet below with `CTRL-ENTER` or by clicking the run button above to initialise the variables.**

In [2]:
video_ad_1 = {"title": "Healthy Living", "company": "Health Promotion Board", "views": 15934}
video_ad_2 = {"title": "Get a ride, anytime anywhere", "company": "Uber", "views": 923834}
video_ad_3 = {"title": "Send money to your friends with GrabPay", "company": "Grab", "views": 23466}
video_ad_4 = {"title": "Ubereats now delivers nationwide", "company": "Uber", "views": 1337}
video_ad_5 = {"title": "Get cabs now with UberFlash", "company": "Uber", "views": 90234}

## Part 1

Find and print out the total views of all the videos provided above. You are to use index key method of the dictionaries to extract the data and aggregate total views.

Make sure you **do not hard-code the answers**

**Example of hard-coding:**
```python
# This is hard-coding, and should not be done
print(15934 + 923834 + 23466 + 1337 + 90234)
```

**Example output:**
```python
298231
```

In [5]:
print(video_ad_1['views']+video_ad_2['views']+video_ad_3['views']+video_ad_4['views']+video_ad_5['views'])

1054805

## Part 2

**The current database is not streamlined. Create a NEW dictionary that stores the total views of videos for each unique company**, and print the dictionary. You are to use the key-value pair of the dictionaries to access the data, and to add up the total views.

Make sure you **do not hard-code the answers**

**Example of hard-coding:**
```python
# This is hard-coding, and should not be done
views_dict = {}
views_dict = {"Health Promotion Board": 15934, "Uber": 923834 + 1337 + 90234, "Grab": 23466}
print(views_dict)

# The above will give you the right answer, but that is not how we want you to do it
# In the above method, if the data in the original dictionary is changed, that means we have to change 
# our calculations. We want our method to be dynamic!
```

**Example output:**
```python
{"Health Promotion Board": 15934, "Uber": 1015405, "Grab": 23466}
```

**Hint:**
```python
views_dict = {}
views_dict["Uber"] = video_ad_2["views"] + ... + ...
print(views_dict)
```

In [12]:
views={}
#video_ad_1
views["Uber"]=video_ad_2["views"]+video_ad_3["views"]+video_ad_4["views"]+video_ad_5["views"]
views["Health Promotion Board"]=video_ad_1["views"]
print(views)

{'Uber': 1038871, 'Health Promotion Board': 15934}

## Part 3

The following represents a list of dictionaries. Each dictionary represents a video advertisement and its respective view numbers. Unfortunately, these advertisements are more than a year old, and Youtube is not interested in performing analysis for these older videos.

Your task is to remove the 2 old videos from the variable `video_ads_list` by the use of the `remove` function, and to print out the resulting `video_ads_list` variable.

Make sure you **do not hard-code the answers**

**Example of hard-coding:**
```python
# This is hard-coding, and should not be done
video_ads_list = []
print(video_ads_list)
```

**Example output:**
```python
[]
```

In [18]:
video_ads_list = [
    {"title": "Get the newest iPhone 6", "company": "Apple", "views": 389824},
    {"title": "Samsung Galaxy S2 out now!", "company": "Saumsung", "views": 230123}
]

# write some code below to show us how you would clean out this list with the use of remove
del video_ads_list[0]
video_ads_list.pop(0)
print(video_ads_list)

[]

## Part 4

After cleaning out the above `video_ads_list` list, now we want to add in the newer videos in the variables declared in part 1 e.g. `video_ad_1`, `video_ad_2` etc...

Your task is to add all the newer videos into the variable `video_ads_list` by the use of the `append` function, and to print out the resulting `video_ads_list` variable.

Make sure you **do not hard-code the answers**

**Example of hard-coding:**
```python
# This is hard-coding, and should not be done
video_ads_list = [
    {"title": "Healthy Living", "company": "Health Promotion Board", "views": 15934}, 
    {"title": "Get a ride, anytime anywhere", "company": "Uber", "views": 923834}
]
print(video_ads_list)
```

**Example output:**
```python
[]
```

In [32]:
video_ads_list=[]
video_ads_list.append(video_ad_1)
video_ads_list.append(video_ad_2)
video_ads_list.append(video_ad_3)
video_ads_list.append(video_ad_4)
video_ads_list.append(video_ad_5)
print(video_ads_list)

[{'title': 'Healthy Living', 'company': 'Health Promotion Board', 'views': 15934}, {'title': 'Get a ride, anytime anywhere', 'company': 'Uber', 'views': 923834}, {'title': 'Send money to your friends with GrabPay', 'company': 'Grab', 'views': 23466}, {'title': 'Ubereats now delivers nationwide', 'company': 'Uber', 'views': 1337}, {'title': 'Get cabs now with UberFlash', 'company': 'Uber', 'views': 90234}]

## Part 5

After having created a list of videos to be stored inside of `video_ads_list`, we want to finalise the videos stored inside of the list, we want to pass the data to another data analyst, and prevent future newbies from altering the list of video ads.

Based on your understanding, you know that tuples are able to store immutable data. This means that you cannot modify the data stored inside of tuples. As such, you intend to store a **tuple filled with the videos** instead.

Your task is to add all the videos printed earlier into a tuple variable `video_ads` and to print out the resulting `video_ads` variable. In order to do this, you have no choice but to hard-code the answer.

**Example of how to proceed:**
```python
video_ads = (
    {"title": "Healthy Living", "company": "Health Promotion Board", "views": 15934}, 
    {"title": "Get a ride, anytime anywhere", "company": "Uber", "views": 923834}
)
print(video_ads)
```

**Example output:**
```python
({"title": "Healthy Living", "company": "Health Promotion Board", "views": 15934}, {"title": "Get a ride, anytime anywhere", "company": "Uber", "views": 923834})
```

The reason why you have to hard-code this answer is primarily because tuples are immutable. Once you create the tuple, there's no way to add or remove from the tuple.

In [34]:
video_ads=({"title": "Healthy Living", "company": "Health Promotion Board", "views": 15934},
{"title": "Get a ride, anytime anywhere", "company": "Uber", "views": 923834},
{"title": "Send money to your friends with GrabPay", "company": "Grab", "views": 23466},
{"title": "Ubereats now delivers nationwide", "company": "Uber", "views": 1337},
{"title": "Get cabs now with UberFlash", "company": "Uber", "views": 90234}
          )
print(video_ads)

({'title': 'Healthy Living', 'company': 'Health Promotion Board', 'views': 15934}, {'title': 'Get a ride, anytime anywhere', 'company': 'Uber', 'views': 923834}, {'title': 'Send money to your friends with GrabPay', 'company': 'Grab', 'views': 23466}, {'title': 'Ubereats now delivers nationwide', 'company': 'Uber', 'views': 1337}, {'title': 'Get cabs now with UberFlash', 'company': 'Uber', 'views': 90234})

## Part 6
After having created a tuple variable `video_ads`, we want to find out how much we should be paying advertisers for each video. After calculating the today fee we 

**Here are the rules for the payment model:**

- If there are fewer than 10,000 views, each view is charged at \$0.82 each
- If there are fewer than 50,000 views but more than or equal to 10,000 views, each view is charged at \$0.68 each
- If there are more than or equal to 50,000 views, each view is charged at \$0.55 each

Make use of `if-elif-else` conditions to solve this problem, and get the final amount paid for each video.

**Example output:**
```
Healthy Living: $1532.83
Get a ride, anytime anywhere: $3339.23
```

In [52]:
for x in range(5):
    views=(video_ads[x]['views'])
    if(views<10000):
        print((video_ads[x]['title'])+" "+str("{:.2f}".format(views*0.82)))
    elif(views<50000):
        print((video_ads[x]['title'])+" "+str("{:.2f}".format(views*0.68)))
    else:
        print((video_ads[x]['title'])+" "+str("{:.2f}".format(views*0.55)))

Healthy Living 10835.12
Get a ride, anytime anywhere 508108.70
Send money to your friends with GrabPay 15956.88
Ubereats now delivers nationwide 1096.34
Get cabs now with UberFlash 49628.70

<h2>Additional Consolidation Questions</h2>
<p>The following are additional questions that serves to strength your understanding in handling data from nested collections. The following collection structure are some of the common ways which people use to store their data for processing later on. </p>

In [60]:
#Nested list data
linked_data = [['Rick Jones', 'Software Engineer', 909802],
               ['Marissa Meyer', 'COO', 9320809],
               ['Avril Ting', 'MD', 932846]]


#Question 1a: Extract Marissa's salary and print her name + salary
#Expected output: Marissa Meyer has a salary of 9320809
#Type your code below
print(linked_data[1][0]+" has the salary of "+str(linked_data[1][2]))
#Question 1b: Change Marissa's salary in linked_data to 78973930 & print out her data
#Expected output: ['Marissa Meyer', 'COO', 78973930]
#Type your code below
linked_data[1][2]=78973930
print(linked_data[1])
#Question 1c: Replace Avril Ting's entire data with the following ['Avril Tan', 'None', 0] & print the linkedin_data 
#Expected output: linked_data = [['Rick Jones', 'Software Engineer', 909802],
#                                ['Marissa Meyer', 'COO', 9320809],
#                                ['Avril Tan', 'None', 0]]
#Type your code below
linked_data[2][0]='Avril Tan'
linked_data[2][1]='None'
linked_data[2][2]=0
print(linked_data)
#Question 1d: Add age data using the index method & print the linkedin_data
# Age of the three person respectively: 20, 45, 55
# Hint: Remember the_list[0] = 1000?
#Expected output: linked_data = [['Rick Jones', 'Software Engineer', 909802, 20],
#                                ['Marissa Meyer', 'COO', 9320809, 45],
#                                ['Avril Tan', 'None', 0, 55]]
#Type your code below
linked_data[0].append(20)
linked_data[1].append(45)
linked_data[2].append(55)
print(linked_data)

Marissa Meyer has the salary of 9320809
['Marissa Meyer', 'COO', 78973930]
[['Rick Jones', 'Software Engineer', 909802], ['Marissa Meyer', 'COO', 78973930], ['Avril Tan', 'None', 0]]
[['Rick Jones', 'Software Engineer', 909802, 20], ['Marissa Meyer', 'COO', 78973930, 45], ['Avril Tan', 'None', 0, 55]]

In [71]:
#Nested list of dictionary data
linked_data = [{'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
               {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
               {'Name':'Avril Ting', 'Job':'MD', 'Salary':932846}]
#Question 2a: Extract Marissa's salary and print her name + salary
#Expected output: Marissa Meyer has a salary of 9320809
#Type your code below
print(linked_data[1]['Name'] + " has a salary of $"+ str(linked_data[1]['Salary']))
#Question 2b: Change Marissa's salary in linked_data to 78973930 & print out her data
#Expected output: {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':78973930}
#Type your code below
linked_data[1]['Salary']=78973930
print(linked_data[1])
#Question 2c: Replace Avril Ting's entire data with the following {'Name':'Avril Ting', 'Job':'None', 'Salary':0} & print the linkedin_data 
#Expected output: linked_data = [{'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802},
#                                {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809},
#                                {'Name':'Avril Ting', 'Job':'None', 'Salary':0}]
#Type your code below
linked_data[2]['Job']='None'
linked_data[2]['Salary']=0
print(linked_data)
#Question 2d: Add age data using the index method & print the linkedin_data
# Age of the three person respectively: 20, 45, 55
# Hint: Remember dict['key'] = 1000?
#Expected output: linked_data = [{'Name':'Rick Jones', 'Job':'Software Engineer', 'Salary':909802, 'age':20},
#                                {'Name':'Marissa Meyer', 'Job':'COO', 'Salary':9320809, 'age':45},
#                                {'Name':'Avril Ting', 'Job':'None', 'Salary':0, 'age':55}]
#Type your code below
linked_data[0]['age']=20
linked_data[1]['age']=45
linked_data[2]['age']=55
print(linked_data)

Marissa Meyer has a salary of $9320809
{'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930}
[{'Name': 'Rick Jones', 'Job': 'Software Engineer', 'Salary': 909802}, {'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930}, {'Name': 'Avril Ting', 'Job': 'None', 'Salary': 0}]
[{'Name': 'Rick Jones', 'Job': 'Software Engineer', 'Salary': 909802, 'age': 20}, {'Name': 'Marissa Meyer', 'Job': 'COO', 'Salary': 78973930, 'age': 45}, {'Name': 'Avril Ting', 'Job': 'None', 'Salary': 0, 'age': 55}]

In [77]:
#Nested list of dictionary with inner list
#The data showcases the name of all employees of each department in the company, along with their corresponding salary

Department_Employee_data= [{'Purchase': ['John', 'Avery', 'Obama'], 'Sales': ['Orea', 'Stark']},
                           {'Purchase': [2000, 4000, 10000], 'Sales': [2344, 32442]}]

#Question 3a: Extract Orea's salary and print her name + salary
#Expected output: Orea has a salary of 2344
#Type your code below
print(Department_Employee_data[0]['Sales'][0] +" has a salary of " +str(Department_Employee_data[1]['Sales'][0]))


#Question 3b: Change Orea's salary to 2398 and print the entire Sales department's salary
#Expected output: [2398, 32442]
#Type your code below
Department_Employee_data[1]['Sales'][0]=2398
print(Department_Employee_data[1]['Sales'])

Orea has a salary of 2344
[2398, 32442]